src/main/mule/cloudhub_logs_demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3a3bf160-7621-4c27-a836-fccfe0febae2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="f6cab525-fa03-4a02-aecc-28424a56038a" enableCookies="false">
		<http:request-connection protocol="HTTPS" host="anypoint.mulesoft.com" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="c6b07b64-80bc-4e52-9938-a33517ca9e32" >
		<http:request-connection host="anypoint.mulesoft.com" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration2" doc:name="HTTP Request configuration" doc:id="ec6734c2-6644-427e-a5d1-7c7c75fb2329" >
		<http:request-connection host="anypoint.mulesoft.com" protocol="HTTPS"/>
	</http:request-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="81a92c66-e0bc-43e6-a4fe-a394cea98672" >
		<file:connection workingDir="C:\Users\John\Desktop\cloudhubLogs" />
	</file:config>
	<configuration-properties doc:name="Configuration properties" doc:id="c1b24336-1c24-4cf7-ae8c-a449c1632216" file="dev.config.yaml" />
	<flow name="cloudhub_logs_demoFlow" doc:id="a6cd9105-df21-4baa-aaaf-069c7eeef817" >
		<http:listener doc:name="Listener" doc:id="131c711f-657b-4452-bca7-f2e598cb5e28" config-ref="HTTP_Listener_config" path="/cloudhublogs"/>
		<http:request method="POST" doc:name="/getting access token" doc:id="13856c5b-f0af-421c-a3f7-6d677180ea16"  config-ref="HTTP_Request_configuration" path="/accounts/login">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"username" : "${anypoint.username}",
	"password" : "${anypoint.password}"
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="accessToken to JSON" doc:id="50811586-b67b-40b9-9cb9-f9873f7b30c2" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="accessToken" ><![CDATA[%dw 2.0
output application/json
---
payload."access_token"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="/getting instance id" doc:id="8d7b617b-d594-4e98-b3dd-f90a82ebb140" config-ref="HTTP_Request_configuration1" path="/cloudhub/api/v2/applications/{appname}/deployments?orderByDate=DESC">
			<http:headers ><![CDATA[#[output application/java
---
{
	"X-ANYPNT-ENV-ID" : "${anypoint.envid}",
	"Authorization" : "bearer " ++ vars.accessToken
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"appname" : "${anypoint.appname}"
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="to JSON and formatting instance ID" doc:id="7671c8b5-a133-4348-be5b-403b9ba3d7af" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
(flatten(payload.data.instances)).instanceId reduce ($)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="GET" doc:name="/getting cloudHub LOGS" doc:id="c2896dce-79ef-4e1d-abe5-39d2fc00efed" config-ref="HTTP_Request_configuration2" path="/cloudhub/api/v2/applications/ratelimitingdemo/instances/{instance_id}/log-file">
			<http:headers ><![CDATA[#[output application/java
---
{
	"X-ANYPNT-ENV-ID" : "${anypoint.envid}",
	"Authorization" : "bearer " ++ vars.accessToken
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"instance_id" : payload
}]]]></http:uri-params>
		</http:request>
		<set-variable value='#[%dw 2.0
output application/json
var time = ((now() as String splitBy  ".")[0][11 to 15]) replace ":" with "-"
---
(now() as String splitBy "T")[0] ++ " " ++ "Time " ++ time]' doc:name="/settingFileName" doc:id="76cf0bdc-f0e3-44a3-892b-b2ce4ca773b4" variableName="time"/>
		<file:write doc:name="/wriring to local directory" doc:id="3c602deb-b20b-40fb-b597-29d2e1c799e8" config-ref="File_Config" path='#["cloudLogs " ++ vars.time ++ ".txt"]' mode="CREATE_NEW"/>
	</flow>
</mule>
